<script src="https://js.pusher.com/3.2/pusher.min.js"></script>
<script>
$(function() {
  $('.piece').draggable({
    snap: '.square',
    snapMode: 'outer',
    snapTolerance: 40,
    opacity: 0.75,
    cursor: 'crosshair',
    containment: 'table',
    revert: 'invalid'
  });

  $('.square').droppable({
    drop: function(event, ui) {
      var piece = ui.draggable
      var destination_square = $(this);
      var update_piece = {
        id: piece.data('piece-id'),
        x_position: destination_square.data('x-position'),
        y_position: destination_square.data('y-position'),
      }
      $.ajax({
        type: 'PATCH',
        url: '/pieces/' + update_piece.id,
        beforeSend: $.rails.CSRFProtection,
        dataType: 'json',
        data: {piece_id: update_piece.id, x_position: update_piece.x_position, y_position: update_piece.y_position},
        success: function(data) {
          destination_square.empty();
          location.reload(true);
        },
        error: function(data) {
          $(piece).css({'left': 0, 'top': 0});
          alert("Invalid Move");
        }
      });
    }
  });
  var pusher = new Pusher('<%= Pusher.key %>', {
    encrypted: true
  });
  var gameId = $('.pusherInfo').data('pusherinfo');
  var channel = pusher.subscribe(gameId);
  channel.bind('update-piece', function(data) {
    location.reload(true);
  });
});
</script>
<div class="chessboard">
  <table>
    <% (0..7).each do |row| %>
      <tr class="row">
        <% (0..7).each do |column| %>
          <td class="square" data-x-position="<%=column%>" data-y-position="<%=row%>">
          <% piece = @game.piece_data[column][row]%>
          <% if piece.present? %>
            <div class="piece" data-piece-id="<%=piece.id%>">
              <%= piece.unicode_symbol.html_safe%>
            </div>
          </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
